.loginButton {
    border-radius: 30px !important;
}

.loginButton:hover {
    border-color: var(--lib-gray);
}

.label {
    font-size: 0.8rem;
    color: var(--lib-gray);
}

.input {
    border: none;
    border-bottom: 0.5px solid var(--lib-gray);
    border-radius: 0px;
    padding: 0;
    padding-top: 3px;
}

.input:focus {
    border: none;
    border-bottom: 0.5px solid black;
    box-shadow: none;
}

.mainDiv {
    background-color: var(--lib-gray);
    min-height: calc(100vh - 3rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
