:root {
  --lib-gray: #868A89;
  --lib-blue: #B7CCC3;
}

.bg-blue {
  background-color: var(--lib-blue);
}

.bg-gray {
  background-color: var(--lib-gray);
}

.bg-white {
  background-color: white;
}

.color-white {
  color: white;
}